:root {
  --primary-cyan: hsl(185, 75%, 39%);
  --dark-blue: hsl(229, 23%, 23%);
  --gray-blue: hsl(227, 10%, 46%);
  --gray: hsl(0, 0%, 59%);
  --black: hsl(0, 0%, 10%);
  --white: hsl(0, 0%, 100%);
  --primary-font: 'Kumbh Sans', sans-serif;
}

/* Hidden class for accessibility */
.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

body {
  font-family: var(--primary-font);
  font-size: 1.125rem;
  font-weight: 400;
  background-color: var(--primary-cyan);
  position: relative;
}

.container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 1fr auto;
  justify-items: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  /* Approach #1 */
  /* https://github.com/0xabdulkhalid/profile-card-component/ */
  /* background-image: url(../assets/images/bg-pattern-top.svg),
    url(../assets/images/bg-pattern-bottom.svg);
  background-position: right 60vw bottom 40vh, left 60vw top 50vh;
  background-repeat: no-repeat, no-repeat; */
}

/* Approach #2 */
/* https://github.com/grace-snow/fmentor_profile-card-component/  */
.container::before,
.container::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.75;
  z-index: -1;
}

.container::before {
  background: url('../assets/images/bg-pattern-top.svg');
  transform: translate(-50%, -50%);
  background-position: bottom right;
}

.container::after {
  background: url('../assets/images/bg-pattern-bottom.svg');
  background-position: top left;
  transform: translate(50%, 50%);
}

main {
  width: 326px;
  background-color: var(--white);
  border-radius: 1rem;
  overflow: hidden;
}

@media (min-width: 768px) {
  main {
    width: 350px;
  }
}

.card__header {
  background-image: url('../assets/images/bg-pattern-card.svg');
  height: 140px;
}

.card__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4.5rem;
  padding-bottom: 1.5rem;
  position: relative;
}

.card__body::before {
  content: '';
  position: absolute;
  background: url('../assets/images/image-victor.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.25rem;
  border-color: var(--white);
  transform: translate(0%, -100%);
}

.user__name {
  font-weight: 700;
  color: var(--dark-blue);
  margin-bottom: 0.875rem;
}

.user__age {
  font-weight: initial;
  color: var(--gray-blue);
}

.user__geo {
  font-size: 0.875rem;
  color: var(--gray-blue);
}

.card__footer {
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: hsla(228, 9%, 92%, 1);
}

.social-stats p:nth-of-type(1) {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.5625rem;
}

.social-stats p:nth-of-type(2) {
  font-size: 0.625rem;
  letter-spacing: 1.5px;
  color: var(--gray-blue);
}

.fm-byline {
  font-size: 0.75rem;
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: center;
}

.fm-byline,
.fm-byline a {
  color: var(--black);
}
